@import "./../../../styles.scss";

:host {
  margin: 1% auto;
  padding: 1%;
  display: block;
  width: clamp(300px, 25%, 400px);
  background-color: var(--gray-dark);
  border: 1px solid transparent;
  border-radius: 10px;
  .wrapper {
    width: clamp(300px, 25%, 400px);
    display: flex;
    flex-direction: column;
    button {
      width: clamp(260px, 85%, 360px);
      margin: 1% auto;
      background-color: var(--primary-blue);
      color: var(--white);
    }
  }
}
