@import "./../../../styles.scss";

:host {
  margin: 2% auto;
  padding: 2%;
  height: 85vh;
  width: 86%;
  background-color: var(--gray-bg);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  h2 {
    margin: 10% auto;
    width: 100%;
    text-align: center;
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
    margin: 0 auto;
    color: var(--white);
  }
  .name,
  .avatar {
    margin: 10% auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      font-size: 20px;
    }
    input,
    select {
      margin: 0 auto;
      width: 40%;
      background-color: var(--white);
      border: 1px solid transparent;
      color: var(--black);
      border-radius: 4px;
      height: 20px;
      &:hover {
        border: 1px solid var(--white);
      }
      &:focus {
        outline: 1px solid var(--primary-blue);
      }
    }
  }
  .avatar {
    mat-icon {
      margin: 0 2% 0 5%;
    }
  }
}
