@use "@angular/material" as mat;

$my-app-theme-primary: mat.m2-define-palette(
  mat.$m2-blue-palette,
  A200,
  100,
  900
);
$my-app-theme-accent: mat.m2-define-palette(mat.$m2-cyan-palette);
$my-app-theme-warn: mat.m2-define-palette(mat.$m2-red-palette);

$my-typography: mat.m2-define-typography-config(
  $font-family: "Arimo",
);

$my-app-theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $my-app-theme-primary,
      accent: $my-app-theme-accent,
      warn: $my-app-theme-warn,
    ),
    typography: (
      typography: $my-typography,
    ),
  )
);

@include mat.core();
@include mat.typography-hierarchy($my-typography);
@include mat.all-component-themes($my-app-theme);

:root {
  --container-with: 1200px;
  --black: #2c2a29;
  --white: #fff;
  --primary-blue: #2f80ed;
  --active-blue: #5ea2ff;
  --red: #ff1c1c;
  --yellow: #f2c94c;
  --green:background: #27AE60;
  --gray: #d9d8d8;
  --gray-dark: #c4c4c4;
  --gray-bg: #e0e0e0;
}

@font-face {
  font-family: "Arimo";
  src: url("./../public/fonts/Arimo-Regular.ttf");
}

html,
body {
  height: 100%;
  --mdc-filled-button-container-color: var(--primary-blue);
  --mdc-filled-button-label-text-color: var(--white);
}
body {
  margin: 0 auto;
  font-family: "Arimo", sans-serif;
  background-color: var(--gray);
  box-sizing: border-box;
}
