<div class="sorting__date">
  <h5>Sorting by date</h5>
  <button mat-button title="oldest first">
    <mat-icon>arrow_circle_up</mat-icon>
  </button>
  <button mat-button title="newest first">
    <mat-icon>arrow_circle_down</mat-icon>
  </button>
</div>

<div class="sorting__like">
  <h5>Sorting by likes</h5>
  <button mat-button title="ascending">
    <mat-icon>arrow_circle_up</mat-icon>
  </button>
  <button mat-button title="descending">
    <mat-icon>arrow_circle_down</mat-icon>
  </button>
</div>

<div class="sorting__view">
  <h5>Sorting by view</h5>
  <button mat-button title="ascending">
    <mat-icon>arrow_circle_up</mat-icon>
  </button>
  <button mat-button title="descending">
    <mat-icon>arrow_circle_down</mat-icon>
  </button>
</div>
