@import "./../../../styles.scss";

:host {
  width: 100%;
  display: block;
  h2 {
    margin: 3% auto;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 5px;
    color: var(--primary-blue);
  }
  form {
    margin: 5% auto;
    padding: 5% 3%;
    width: clamp(300px, 40%, 500px);
    display: flex;
    flex-direction: column;
    border: 0px solid transparent;
    border-radius: 15px;
    background-color: var(--gray-bg);
    mat-form-field {
      margin: 0 0 5%;
      input {
        width: 80%;
      }
      .mat-mdc-icon-button:hover,
      .mat-mdc-button-ripple:hover,
      .mat-mdc-icon-button:focus,
      .mat-mdc-button-ripple:focus {
        width: 48px;
      }
    }
    button {
      margin: 3% auto;
      width: 30%;
    }
  }
}
