<div class="block">
  @if(video.statistics!.viewCount){
  <mat-icon>visibility</mat-icon>
  <span>{{ video.statistics!.viewCount || 0 }}</span>
  }
</div>
<div #like class="block" (mousedown)="liked()">
  <mat-icon fontIcon="thumb_up"></mat-icon>
  <span>{{ likeCount() || 0 }}</span>
</div>
<div class="block">
  <mat-icon fontIcon="thumb_down"></mat-icon>
  <span>{{ video.statistics!.dislikeCount || 0 }}</span>
</div>
<div class="block">
  <mat-icon fontIcon="forum"></mat-icon>
  <span>{{ video.statistics!.commentCount || 0 }}</span>
</div>
